body{
    overflow-x: hidden;
}

/* Preloader */
#spinner{
    display: none;
}

/* Error Message */
#empty-string{
    display: none;
}
#wrong-keyword{
    display: none;
}

/* For Display Phones */

.dp-img{
    width: 150px;
    height: 200px;
}
